<h1>welcome </h1>
<p>welcome to storybooks 1.0.0</p>
<p>Post stories from the best and worst of your life and choose from them to be read by the world or completely private as your
  own personal diary</p>
{{#if user}} {{else}}
<a class="btn red darken-1" href="/auth/google">
  <i class="fa fa-google"></i> Login with google</a>
{{/if}}