<h2> Edit stories</h2>
<div class="row">
  <form action="/stories/{{story.id}}?_method=PUT" method="POST" class="col s12">
    <input type="hidden" name="_method" value="PUT">
    <div class="row">
      <div class="input-field ">
        <input name="title" type="text" value="{{story.title}}">
        <label class="active" for="first_name2"></label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <select name="status">
          {{#select story.status}}
          <option value="public" selected>Public</option>
          <option value="private">Private</option>
          <option value="unpublished">Unpublished</option>
          {{/select}}
        </select>
        <label>Status</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <p>
          <label>
            <input type="checkbox" name="allowComments" class="filled-in" {{#if story.allowComments}}checked="checked" {{/if}} id="filled-in-box"
            />
            <span>Allow comments</span>
          </label>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="input-field ">
        <h5>Tell your Stories</h5>
        <textarea name="body" class="materialize-textarea" data-length="120">{{story.body}}</textarea>
      </div>
    </div>
    <input type="submit" class="btn" value="Save">
  </form>
</div>